@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
}
form{
    display: block;
}
header{
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}
header .h-inner{
    width: 1410px;
    position: relative;
    margin: 0 auto;
}
header .h-inner .top{
    text-align: center;
}
header .top .inner{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 40px;
    padding-bottom: 20px;
}
header .top .inner h1{
    font-family: "Gugi", sans-serif;
    color: #151585;
    font-size: 40px;
}
header .top .inner h1 span{
    color :#ff0000
}
.search form{
    position: relative;
}
.h-inner .search input{
    width: 470px;
    height: 40px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 100px;
}
.h-inner .search button{
    position: absolute; 
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    border: none;
    font-size: 20px;
    background-color: #fff;
    color: #888;
    outline: none;
}
button[type=submit]{
    cursor: pointer;
}

.h-inner .top .login a{
    float: left;
}
.h-inner .top .login a:nth-child(2){
    margin: 0 10px;
}
.h-inner .top .login a span{
    font-size: 28px;
}

.h-inner .bottom{
    width: 100%;
}
.h-inner .bottom .inner{
    display: flex;
}
.h-inner .menu{
    display: flex;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}
.h-inner .menu ul{
    margin-left: 80px;
    display: flex;
}
.h-inner .menu ul li{
    margin-left: 70px;
}

/* main */
main{
    width: 1410px;
    margin-top: 30px;
    margin: 0 auto;
}

/* breadcrumb */
.breadcrumb{
    width: 100%;
    margin-top:30px ;
}
.breadcrumb .be-inner{
    width: 1410px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.breadcrumb .be-inner a{
    display: block;
    font-size: 14px;
    color: #aaa;
}
.breadcrumb .be-inner a:nth-child(2){
    margin: 0 10px;
}
.breadcrumb .be-inner a:nth-child(3){
    color: #000;
}
.breadcrumb .be-inner a:first-child::after{
    content: '>';
    margin-left: 10px;
}
.breadcrumb .be-inner a:nth-child(2)::after{
    content: '>';
    margin-left: 10px;
}

/* title */
.content-title{
    margin: 40px 0;
}
.content-title h2{
    font-size: 40px;
}

/* banner */
.banner{
    width: 100%;
}
.banner .inner-banner{
    width: 100%;
    max-width: 100%;
}

/* cupon */
.cupon-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.cupon-list ul li{
    width: 440px;
    display: inline-block;
    margin: 0 30px;
}
.cupon-list ul li .cupon a{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    border-radius: 10px;
}
.cupon-list ul li .cupon a span{
    display: block;
    font-size: 17px;
    font-weight: bold;
}
.cupon-list ul li .cupon a .text{
    padding: 30px;
}
.cupon-list ul li .cupon a .logo{
    font-family: "Gugi", sans-serif;
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    line-height: 0;
}
.cupon-list ul li .cupon a .percent{
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0;
}
.cupon-list ul li .cupon a .down{
    width: 70px;
    background-color: #ff0000;
    background-image: url(./eventimg/icon_download_white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

/* list */
.list {
    width: 100%;
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

.list .item {
    width: 323px;
    position: relative;
    margin-bottom: 40px;
}
.imbox {
    width: 100%; 
    height: auto; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.imbox img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.imbox:hover img {
    transform: scale(1.2); 
}

.list .tbox{
    margin-top: 15px;
}
.list .tbox a p:nth-child(1){
    font-weight: bold;
    margin-bottom: 10px;
}

.list .tbox .price{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.list .tbox .price span{
    font-size: 20px;
}
.list .btn{
    position: absolute;
    top: 60%;
    right: 0;
}
.list .btn .btn-cart{
    width: 50px;
    height: 50px;
    background-image: url(./eventimg/icon_cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.list .tbox .badge .cup1{
    border: 1px solid #ff0000;
    color: #ff0000;
    border-radius: 5px;
    padding: 0 6px;
    font-size: 13px;
}
.list .tbox .badge .cup2{
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 0 6px;
    font-size: 13px;
}

.list .tbox .badge .cup3{
    border-radius: 5px;
    background-color: yellow;
    padding: 0 6px;
    border: none;
    font-size: 13px;
}
.list .tbox .badge .cup4{
    border: 1px solid blue;
    color: blue;
    border-radius: 5px;
    padding: 0 6px;
    font-size: 13px;
}
.list .tbox .badge .cup6{
    border-radius: 5px;
    background-color: red;
    color: #fff;
    padding: 0 6px;
    border: none;
    font-size: 13px;
}

.btn {
    margin-top: 20px;
}

.btn a {
    margin: 0 auto;
    display: block; 
    width: 150px; 
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    border: 1px solid #aaa;
    border-radius: 50px; 
    background-color: #fff;
    text-align: center; 
}

/* footer */
footer{
    width: 100%;
    margin-top: 120px;
    background-color: #eee;
}
footer .inner-content{
    width: 1410px;
    margin: 0 auto;
    padding: 60px 0;
}
footer .inner-content .footer-top{
    display: flex;
    justify-content: space-between;
}
footer .inner-content .footer-top .left ul{
    display: flex;
    gap: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
footer .inner-content .footer-top .left .add p:first-child{
    margin-top: 0px;
}
footer .inner-content .footer-top .left .add p:not(:first-child){
    margin-top: 10px;
}
footer .inner-content .footer-top .left .add p span{
    margin-right: 12px;
}
footer .inner-content .footer-top .left .add p span::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-left: 12px;
    background-color: #ccc;
}
footer .inner-content .footer-top .left .nice{
    margin-top: 20px;
}
footer .inner-content .footer-top .left .nice dt{
    font-weight: bold;
    margin-bottom: 10px;
}
footer .inner-content .footer-top .left .nice dd{
    display: inline-block;
    line-height: 26px;
}
footer .inner-content .footer-top  .right{
    text-align: right;
}
footer .inner-content .footer-top  .right dl .num{
    padding: 5px 0 7px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #00317a;
}
footer .inner-content .footer-top  .right dl dd{
    font-size: 14px;
    line-height: 26px;
}
footer .inner-content .footer-bottom{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}